export(bioaf_connect)
export(bioaf_snapshot)
export(extract_seurat_metadata)

importFrom(httr2, request)
importFrom(httr2, req_auth_bearer_token)
importFrom(httr2, req_body_json)
importFrom(httr2, req_body_multipart)
importFrom(httr2, req_perform)
importFrom(httr2, resp_body_json)
importFrom(jsonlite, toJSON)
importFrom(jsonlite, fromJSON)
